<h1><%= current_user.first_name %></h1>
<h3><%= current_user.email %></h3>




<%= cl_image_tag current_user.photo.key, class: "avatar-large"%>
<%= link_to 'Edit', edit_user_registration_path(current_user) %>


<h3>My Toys</h3>

 <div>
      <% current_user.toys.each do |toy| %>
        <ul>
          <%= link_to toy_path(toy) do %>
            <div class="card-product">
              <%= cl_image_tag toy.photos[0].key %>
              <div class="card-product-infos">
                <h2><%= toy.name %></h2>
                <p><%= toy.description %></p>
                <%= link_to 'Edit', edit_toy_path(toy) %>
                <%= link_to 'Delete', toy_path(toy), method: :delete ,data: { confirm: "Are you sure?" }%>
              </div>
            </div>


          <% end %>
        </ul>
      <% end %>
  </div>


  <div class="offer-list blue">
      <h3>My Offers</h3>

      <% current_user.toys.each do |toy| %>
      <% toy.offers.each do |offer|%>
          <p>user: <%= offer.user.first_name %> make an <%= offer.price %> $ for <%= offer.toy.name %> </p>
          <%= link_to 'validate', validation_path(offer), method: :patch%>
          <%= link_to 'refuse', refuse_path(offer), method: :patch %>
      <% end %>
      <% end %>
  </div>

  <div class="request-list green">
    <h3>My Requests</h3>
    <% current_user.offers.each do |offer| %>
      <p>your have proposed: <%= offer.price %> $ for <%= offer.toy.name %> to <%= offer.toy.user.first_name %> </p>
     <p>validate: <%= offer.validated %> refused: <%= offer.refused %> </p>
      <%= link_to 'Delete', offer_path(offer), method: :delete ,data: { confirm: "Are you sure?" }%>
    <% end %>

  </div>
