<h1 class="name-title "><%= @category.name.capitalize %></h1>

<div>
  <div>
      <% @toys.each do |toy| %>
        <ul>
          <%= link_to toy_path(toy) do %>
            <div class="card-product">
              <%= cl_image_tag toy.photos[0].key %>
              <div class="card-product-infos">
                <h2><%= toy.name %></h2>
                <p><%= toy.description %></p>
              </div>
            </div>


          <% end %>
        </ul>
      <% end %>
  </div>
</div>
