<h2 class="name-title text-center"><%= @toy.name %></h2>

<div class="parent">
  <% @toy.photos.each_with_index do |photo, index|  %>
    <div class="div<%= index + 1 %>">
      <%= cl_image_tag photo.key, height: "100%", width: "100%" %>
    </div>
  <% end %>
  <div class="div4">
      <h4><%= @toy.description %></h4>
  </div>
  <div class="div5">
      <p>price: <%= @toy.price %> $</p>
  </div>
</div>




<div class= "offer-button">

  <%= link_to 'Make an offer', new_toy_offer_path(@toy), class: "btn btn-primary"  %>
</div>
