<div class="full-wrapper">
<div>
  <div class="left"></div>
  <div class="right"></div>
  <h1>Welcome to ToyStore <strong><%= current_user.first_name %></strong> </h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi sequi nesciunt nostrum consequatur dolores odit corporis veniam fugit perspiciatis, laborum, iste facilis molestias mollitia dicta commodi dolorem tempora, excepturi minus?</p>


<div class="search-block">

    <%= form_tag root_path, method: :get, class: "d-flex" do %>
    <div class="search-form-control form-group">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a category"
      %>
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
    </div>
<% end %>



  </div>


</div>





  <div class="cards">
    <% @categories.each do |category| %>
      <%= link_to category_toys_path(category), :action => 'go' do %>
        <div class="card-category", style= "background-image: linear-gradient( rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)), url('<%= image_path(category.photo_path) %>')">
          <h3><%= category.name %></h3>
        </div>
      <% end %>
    <% end %>
</div>
</div>
